<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoes bill source code</title>
</head>
<body>
      <header class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center shadow-2xl ...">
          <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
            <a class="mr-5 hover:text-pink-400" href="index.html"><u>Home</u></a>
            <a class="mr-5 hover:text-pink-400" href="work.html"><u>Work</u></a>
            <a class="mr-5 hover:text-pink-400" href="contact.html"><u>Contact</u></a>
            <a class="mr-5 hover:text-pink-400" href="about.html"><u>About</u></a>
          </nav>
          <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-white lg:items-center lg:justify-center mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl xl:block lg:hidden">A-Web developer</span>
          </a>
          <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0 shadow-2xl ...">
            <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-pink-700 rounded text-base mt-4 md:mt-0 ... ring-4 ring-pink-300">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
              <a href="login.html">Login</a>

            </button>
          </div>
        </div>
      </header>
      <div class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 ..."></div>
      <div class="bg-white-50 flex flex-col text-center w-full mb-20">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
          <h2 class="text-3xl font-extrabold tracking-tight text-pink-500 sm:text-5xl">
            <span class="block xl:inline bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-200"><u>Shoes Bill Project </u></span>
          </h2>
         </div>
       </div>   
       <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="lg:w-2/3 mx-auto">
            <div class="flex flex-wrap w-full bg-pink-400 py-32 px-100  relative mb-4 shadow-2xl" width = "1000" height="1000">
              <ul class="actions special">
              <li><img alt="pizza bill" class="w-full occupy h-full object-center block opacity-100 absolute inset-0 w3-border  w3-padding" src="gallery/shoes.jpg"></li>
              </ul>
            </div> 
            </div>
            
          </div>
        </div>
      </section>  
      <div class="h-full flex flex-col py-6 bg-pink-10 shadow-2xl lg:items-center lg:justify-between">
        <!-- <div class="px-4 sm:px-6"> -->
          <h2 class="text-3xl font-extrabold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-yellow-200" id="slide-over-title">
            <u>Code of Shoes Bill Project</u>
          </h2>
        </div>
        <div class="mt-6 relative flex-1 px-4 sm:px-6 text-pink-800 bg-grey-200">
          <pre>
            <code>
              <p class="shadow-2xl">
                #include<stdio.h>
                  #include<string.h>
                  int main(int argc, char const *argv[])
                  {
                      char name[56];
                      char brand[67];
                      char type[67];
                      int size,prize;
                      printf("enter the name of the customer\n");
                      scanf("%s",&name);
                      printf("enter the shoes brand name you want to buy\n");
                      
                  
                     while (brand=="%s",brand)
                     {
                         scanf("%s",&brand);
                         printf("customer want %s type of brand\n",brand);
                         break;
                   }
                  
                     printf("enter the type of shoes you want to buy\n");
                     printf("for example FORMAL,SPORTS,SNEKERS,DANCING...\n");
                     scanf("%s",&type);
                  
                     while (type=="%s",&type)
                     {
                         printf("customer want %s type of shoes\n",type);
                         break;
                     }
                     printf("enter the size of shoes\n");
                     scanf("%d",&size);
                     if (size==6)
                     {
                        printf("customer want %d size of shoes\n",size);
                        prize=6*200;
                        printf("the prize of shoes is %d",prize);
                     }
                     else if (size==7)
                     {
                        printf("customer want %d size of shoes\n",size);
                        prize=7*200;
                        printf("the prize of shoes is %d",prize);
                        
                     }
                      else if (size==8)
                     {
                        printf("customer want %d size of shoes\n",size);
                        prize=8*200;
                        printf("the prize of shoes is %d",prize);
                        
                     }
                      else if (size==9)
                     {
                        printf("customer want %d size of shoes\n",size);
                        prize=9*200;
                        printf("the prize of shoes is %d",prize);
                        
                     }
                      else if (size==10)
                     {
                        printf("customer want %d size of shoes\n",size);
                        prize=10*200;
                        printf("the prize of shoes is %d",prize);
                        
                     }
                     else
                     {
                         printf("you choose the wrong size of shoes\n");
                     }
                    
                      return 0;
                  }
                  
              </p>
                
            </code>
          </pre>
          <div class="absolute inset-0 px-4 sm:px-6">
            <div class="h-full border-2 border-dashed border-pink-800" aria-hidden="true"></div>
          </div>
          
        </div>
      </div>

      <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-pink-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">A-Web Developer</span>
          </a>
          <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4"> A-Web Developer
            <a href="https://twitter.com/AmanCha53465082" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">Aman Chauhan</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-white mr-5 hover:text-pink-700" href="https://www.facebook.com/profile.php?id=100012687511482">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-white mr-5 hover:text-pink-700" href="https://twitter.com/AmanCha53465082">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3  text-white mr-5 hover:text-pink-700" href="https://www.instagram.com/avinash_thakur_aka_one/">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3  text-white mr-5 hover:text-pink-700" href="#">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
    </body>
    </html> 
  
